@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {
    --border-color: #144fc6;
    --fill-color: #6ab3f8;
}

* {
    box-sizing: border-box;
}

body {
    /* background-color: #3494e4; */
    background-image: url('https://images.unsplash.com/photo-1465634836201-1d5651b9b6d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

nav {
    align-self: flex-end;
}

nav .btn {
    background-color: #eee;
    border-radius: 0.3rem;
    border: 0;
    max-height: 24px;
    color:#00569c;
    padding: 5px 4px;
    font-size: 11px;
    cursor: pointer;
    opacity: 0.8;
}

nav .btn:hover {
    color: #eee;
    background-color: #00569c;
    transform: scale(1.1);
    opacity: 1;
}

h1 {
    margin: 10px 0 0;
    color: rgb(209, 232, 255);
    font-size: 2.3rem;
    text-shadow: 0.5rem 0.2rem #144fc6;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

.cup {
    background-color: rgba(255,255,255,0.9);
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cup.cup-small {
    width: 50px;
    height: 95px;
    border-radius: 0 0 15px 15px;
    /* background-color: rgba(255,255,255,0.9); */
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.cup.cup-small.full {
    background-color: var(--fill-color);
    color: #fff;
}

.cups {
    display:flex;
    flex-wrap: wrap;
    width: 280px;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.remained span {
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 12px;
}

.percentage {
    background-color: var(--fill-color);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 0;
    transition: 0.3s ease;
}

.text {
    text-align: center;
    margin: 0 0 5px;
}

@media (max-width: 600px) {
    body {
        justify-content: space-around;
        max-height: 100vh;
    }

    nav {
        margin-bottom: 10px;
        font-size: 0.6rem;
    }

    h3 {
        10px 0 0 0;
    }

    .text {
        font-size: 0.9rem;
    }
}